{% extends 'management_user/base/base.html' %}
{% load bootstrap_filter %}

{% block title %}.:Login{% endblock %}

{% block content %}
<style>
    .card {
        margin-top: 3%;
        margin-bottom: 3%;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <div class="card mx-auto px-auto w-50">
        <div class="card-header h2 text-success">Registrar Ponto de Coleta</div>
        <div class="card-body">
            <!--label>Código*</label>
            {{ rc_form.code|f_class:'form-control' }}-->
            <label>Razão Social</label>
            {{ rc_form.corporate_name|f_class:'form-control' }}
            <div class="row">
                <div class='col-md-6'>
                    <label>Email</label>
                    {{ rc_form.email|f_class:'form-control' }}
                </div>
                <div class='col-md-6'>
                    <label>Telefone</label>
                    {{ rc_form.phone|f_class:'form-control' }}
                </div>
            </div>

            <label>Sede</label>
            {{ address_form.branch|f_class:'form-control' }}
            <div class="row">
                <div class="col-md-6">
                    <label>Logradouro</label>
                    {{ address_form.public_place|f_class:'form-control' }}
                </div>
                <div class="col-md-2">
                    <label>Nº</label>
                    {{ address_form.number|f_class:'form-control' }}
                </div>
                <div  class="col-md-4">
                    <label>Bairro</label>
                    {{ address_form.district|f_class:'form-control' }}
                </div>
                <div  class="col-md-6">
                    <label>Cidade</label>
                    {{ address_form.city|f_class:'form-control' }}
                </div>
                <div  class="col-md-6">
                    <label>Estado</label>
                    {{ address_form.state|f_class:'form-control' }}
                </div>
            </div>
            <label>Complemento</label>
            {{ address_form.complement|f_class:'form-control' }}


            <label>Sobre mim</label>
            {{ rc_form.about|f_class:'form-control' }}
            
            <!--label>Nome*</label>
            {{ rc_form.first_name|f_class:'form-control' }}-->
            <!--label>Sobrenome*</label>
            {{ rc_form.last_name|f_class:'form-control' }}-->
            <!--label>Nome de usuário*</label>
            {{ rc_form.username|f_class:'form-control' }}-->
            <div class="row">
                <div class="col-md-6">
                    <label>Senha</label>
                    {{ rc_form.password1|f_class:'form-control' }}
                </div>
                <div class="col-md-6">
                    <label>Confirmar Senha</label>
                    {{ rc_form.password2|f_class:'form-control' }}
                </div>
            </div>
            <!--label>Tipo de Usuário*</label>
            {{ rc_form.profile_type|f_class:'form-control' }}-->

        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>
</form>
{% endblock %}