/* home */
#secao1{
    /* background: #29A63C; */
    background: #9EC489;
    color: white;
}

#secao2{
    background: #FBFAFF;
}

#nav{
    background: #98bd84;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 15px;
}
/* home */

/* TagsInput */

.tagContainer {

    border-radius: .2rem;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    padding: .4rem;
    overflow-x: auto;
}


.tagContainer, 
.tagContainer input, 
.tagContainer .tag {
    /* background: rgba(0, 0, 0, 0.2); */
    color: var(--white);
}

.tagContainer .tag {
    margin: .4rem;
    padding: .4rem .6rem;
    border: .01rem solid white;
    /* background-color: green; */

    font-size: 1.2rem;
    
    display: flex;
    align-items: center;
    
    cursor: default;
}

.tag i {
    font-size: 0.8rem;
    font-style: normal;
    
    margin-left: .4rem;

    transform: translateY(0.08rem);
}

.close::after {
    content: "✕";
    height: 24px;
    width: 24px;
}

.tagContainer input {
    padding: .4rem;

    font-size: 1.2rem;
    border: 0;
    outline: none;
    flex: 1;
}
/* input tag */

/* Login */
.personal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBFAFF;
}

.first-content{
    display: flex;
}

.second-content{
    position: absolute;
    display: none;
}

.first-column{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.content{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Login */